Makefile
Makefile.old
*.tar.gz
*.bak
*.swp
pm_to_blib
blib/
PWA-WeatherClient-*
PWA-WeatherClient-*/
.releaserc
cover_db
MYMETA.*
frame-*.png
*.pl
.prove
.patch
public/*.gz
public/js/*.gz
public/css/*.gz
