#screen: {
    overflow: none;
}


div.location-description {
    font-size: 24pt;
    width: 400px;
}

div.locations {
    float: left;
    /* display: flex; */
    width: 100%;
}

div.location {
    box-sizing: border-box;
    width: 90%;
}

li {
    width: 80%;
    display: inline;
    float: left;
}

table: { display: inline; }

th {
    text-align: center;
}